---
import Layout from '../layouts/Layout.astro';
import { AuroraBackground } from '../../@/components/ui/aurora-background';
import { HoverBorderGradient } from '../../@/components/ui/hover-border-gradient';
import { motion } from 'framer-motion';
import LoginModal from '../components/home/LoginModal';
import { CldUploadWidget } from 'astro-cloudinary';
---

<Layout title="Home page">
    <main>
        <LoginModal client:load />

        <div class="relative w-full h-[100dvh]">
            <AuroraBackground
                client:load
                className="w-full h-full flex flex-col items-center justify-center"
            >
                <motion.div
                    initial={{ opacity: 0.0, y: 40 }}
                    whileInView={{ opacity: 1, y: 0 }}
                    transition={{
                        delay: 0.3,
                        duration: 0.8,
                        ease: 'easeInOut',
                    }}
                    client:load
                    className="relative flex flex-col gap-4 items-center justify-center px-5 sm:px-10 md:px-14"
                >
                    <div
                        class="text-3xl md:text-7xl font-bold dark:text-white text-center"
                    >
                        Crea transformaciones espeluznantes a tus selfies.
                    </div>
                    <div
                        class="font-extralight text-base sm:text-lg md:text-2xl dark:text-neutral-200 text-center py-4"
                    >
                        Transforma tu fotografía y crea ideas para tu próximo
                        disfraz.
                    </div>

                    <CldUploadWidget
                        id="upload-events"
                        uploadPreset="nandev-hackathon"
                        options={{
                            sources: ['local'],
                            multiple: false,
                            maxFiles: 1,
                            language: 'es',
                            maxFileSize: 1500000,
                            text: {
                                es: {
                                    or: 'o',
                                    menu: {
                                        files: 'Subir archivo',
                                        camera: 'Tomar foto',
                                    },
                                    local: {
                                        browse: 'Seleccionar',
                                        dd_title_single:
                                            'Arrastra y suelta un archivo aquí. Debe ser una imagen de menos de 1.5MB.',
                                    },
                                    camera: {
                                        dd_title_single: 'Toma una foto',
                                    },
                                },
                            },
                        }}
                    >
                        <HoverBorderGradient
                            containerClassName="rounded-full"
                            as="button"
                            client:load
                            className="dark:bg-black bg-white text-black dark:text-white flex items-center space-x-2"
                        >
                            <span class="md:text-xl">Subir foto</span>
                        </HoverBorderGradient>
                    </CldUploadWidget>
                </motion.div>
            </AuroraBackground>
        </div>
    </main>
</Layout>

<script>
    import { navigate } from 'astro:transitions/client';

    const widget = document.querySelector('#upload-events');
    if (widget) {
        widget.addEventListener('clduploadwidget:success', ((
            e: CustomEvent<{ info: { public_id: string } }>
        ) => {
            const publicId = e.detail.info.public_id;

            navigate(`/transform/${publicId}`);
        }) as EventListener);
    }
</script>
