---
import Layout from '../../layouts/Layout.astro';
import { getCldImageUrl } from 'astro-cloudinary/helpers';
import ImageTransform from '../../components/ImageTransform';
import LoginModal from '../../components/home/LoginModal';

const { id } = Astro.params;

if (id == null) return Astro.redirect('/');

const url = getCldImageUrl({
    src: id || '',
    width: 800,
    height: 800,
    crop: 'fill',
    gravity: 'face',
    format: 'webp',
});
---

<Layout title="Transform page">
    <div class="container">
        <LoginModal client:load />

        <ImageTransform
            id={id}
            url={url}
            className="w-full px-5 sm:px-10 md:px-14 pt-10"
            client:load
        />
    </div>
</Layout>

<style>
    .container {
        padding: 80px 0;
    }
</style>

<script>
    const btn = document.getElementById('theme-toggle') as HTMLButtonElement;

    btn.addEventListener('click', () => {
        document.documentElement.classList.toggle('dark');
    });
</script>
